body
{
    margin: 0;
    padding: 0;
}

.conteudo
{

}

h1
{
    color:white;
    background-color:#00BFFF;
    margin: 0;
    padding: 20px;
    text-align: center;
}

li
{
    color:#00BFFF;
}

img
{
    width: 500px;
    border: 5px solid #00BFFF;
    border-radius: 10px;
}

.centro
{
    text-align: center;
}